# Extensions:
- Jupyter (Microsoft).

# Libraries:
### Install Automatically:
chmod +x ./install.sh && ./install.sh
### Install Manually:
pip install ipykernel  
pip install pandas

#### NumPy vs Pandas:
- The difference between NumPy and Pandas is that NumPy is a package for scientific computing in Python, while Pandas is a package for data analysis in Python.

#### NumPy Arrays vs Pandas DataFrames:
- NumPy Arrays are used to store a collection of elements of the same data type, while Pandas DataFrames are used to store rows and columns of heterogeneous data.

#### Pandas DataFrames vs Pandas Series:
- Pandas Series are used to store a column of data, while Pandas DataFrames are used to store rows and columns of data.
- Pandas Series are similar to NumPy arrays, but Pandas Series can have axis labels, which means it can be indexed by a label, instead of just a number location.

In [2]:
# Import Pandas and Numpy:
import pandas as pd
import numpy as np

In [6]:
# Create a Pandas DataFrame:

df = pd.DataFrame({'integers':[1, 2, 3, 4], 'floats':[1.00, 2.00, 3.00, 4.00], 'strings':['Breno', 'Amanda','Manoel','Marcia']})
display(df)

   integers  floats strings
0         1     1.0   Breno
1         2     2.0  Amanda
2         3     3.0  Manoel
3         4     4.0  Marcia

In [8]:
# Create a Pandas DataFrame from a JSON file:

# save the df to a json file:
df.to_json('data.json')

# read the json file:
json_df = pd.read_json('data.json')
display(json_df)

   integers  floats strings
0         1       1   Breno
1         2       2  Amanda
2         3       3  Manoel
3         4       4  Marcia